.imag
{
     width:100px;

}

.redes
{ 
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       display: inline-block;
       width: 60px;
       height: 60px;
       border: 1px solid black;
       border-radius: 50%;
       text-align: center;
       
       font-size: 30px;
       line-height: 60px;
}

.redes:hover
{ 
   font-size: 55px;
   background-color: rgba(8, 131, 240, 0.459);
}

a
{
   color:blue;
}

/* fondo del backround pagina */
.imageen
{
   width: 100%;
   height: 100%;
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/img/fondo2.jpg);
 
   background-position: center;
   background-size: cover;
   position: absolute;
}

/* parte de click donde esta la seccion (si esta en Noticias,etc) */
.active
{
    background: magenta;
}

.secciones
{
   color: rgb(0, 98, 255)
}

/* color del texto menu */
.navbar .navbar-nav li a
{
   color:rgba(54, 18, 54, 0.733) !important;
}
